#grille{
    width:1000px;
	height:1000px;
	border: 1px solid black;
	position: relative;
}

.space{
position:absolute;
z-index: 2;
border: 1px solid black;
}
.node{
position:absolute;
z-index: 4;
}
.data{
position:absolute;
z-index: 4;
}